# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Brownie test

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NODE_OPTIONS: --max_old_space_size=8192

jobs:
  local-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 17.x ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.solcx
            ~/.vvm
            ~/.brownie
          key: compiler-cache
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g ganache-cli
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: cd solidity && pip install -r requirements.txt
      - run: cd solidity && brownie pm install OpenZeppelin/openzeppelin-contracts@4.3.2
      - run: cd solidity && brownie test tests/local -s
        
